// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$img-sprites-foot-sns-hinge-name: 'img-sprites-foot-sns-hinge';
$img-sprites-foot-sns-hinge-x: 0px;
$img-sprites-foot-sns-hinge-y: 0px;
$img-sprites-foot-sns-hinge-offset-x: 0px;
$img-sprites-foot-sns-hinge-offset-y: 0px;
$img-sprites-foot-sns-hinge-width: 34px;
$img-sprites-foot-sns-hinge-height: 34px;
$img-sprites-foot-sns-hinge-total-width: 34px;
$img-sprites-foot-sns-hinge-total-height: 34px;
$img-sprites-foot-sns-hinge-image: '../images/sprites/img-sprites.png?ver=2021/51/21';
$img-sprites-foot-sns-hinge: (0px, 0px, 0px, 0px, 34px, 34px, 34px, 34px, '../images/sprites/img-sprites.png?ver=2021/51/21', 'img-sprites-foot-sns-hinge', );
$img-sprites-width: 34px;
$img-sprites-height: 34px;
$img-sprites-image: '../images/sprites/img-sprites.png?ver=2021/51/21';
$img-sprites-sprites: ($img-sprites-foot-sns-hinge, );
$img-sprites: (34px, 34px, '../images/sprites/img-sprites.png?ver=2021/51/21', $img-sprites-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
